rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{document} {
      allow read, write: if true;
    }
    match /landmarks/{document} {
      allow read, write: if true;
    }
    match /presentations/{document} {
      allow read, write: if true;
    }
    match /settings/{document} {
      allow read, write: if true;
    }
    match /entities_developers/{dev} {
      allow read, write: if true;
    }
    match /locations_communities/{comm} {
      allow read, write: if true;
    }
    match /locations_cities/{city} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
