rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PSI Maps projects rule
    match /projects/{project} {
      allow read: if request.auth != null;
    }
    // General rule for all other collections
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
